{% extends "base.html" %} {% block content %}

<body>
  <main class="text-center py-5 mt-3">
    <div class="container">
      <div class="row">
        <div class="container my-5 py-5 z-depth-1">
          <h1>Introduction</h1>
          <blockquote>
            This web application is intend to provide a anonymous postings
            platform. The post can be happy thing,sorrowful things, strange
            thing or interesting thing or your current status.
          </blockquote>
        </div>
      </div>
    </div>
  </main>
</body>

{% endblock content %}
